.mainChat
  .header
    .header__leftBox
      %h2.CurrentGroupName
        = @group.name
      %ul.memberList
        %li.member Member:
        - @group.users.each do |user| 
          %li.member
            = user.name
    .header__editBtn
      = link_to "#",class: "submitEditBtn" do
        %p.Edit Edit
  .body
    = render @messages
  .form
    .inputBox
      .inputBox__text
        = form_for [@group, @message] do |form|
          = form.text_field :content, class: 'inputBoxText',placeholder: "type a message"
          .inputBox__text__mask
            = form.label :image, class: "inputBoxImage" do
              <i class="fas fa-images"></i>
              = form.file_field :image, class: "inputImageFile"
          = form.submit "send", class: "sendBox"